$primary-color: #2D2D2D;
$secondary-text-color: #302519;
$accent-green-color: #8CB416;
$accent-purple-color: #B178B3;
$bg-color:  #ffffff;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.97);
  background-color: rgba(140, 180, 22, 0.75);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: $primary-color;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(140, 180, 22, 0.95) 30%,
   rgba(177, 120, 179, 0.9) 50%,
    rgba(140, 180, 22, 0.95) 70%
  );
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  transition: color 150ms var(--timing-function),
    background-image 150ms var(--timing-function);
  scrollbar-track-color: #8CB416;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

button {
  outline: none;
}

.is-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  overflow: hidden;
  visibility: hidden !important;
  pointer-events: none !important;
  opacity: 0 !important;
  transition: all linear 300ms !important;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 320px) {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }

  // @media screen and (min-width: 576px) {
  //   width: 576px;
  // }

  @media screen and (min-width: 768px) {
    width: 768px;

    padding-left: 75px;
    padding-right: 75px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;

    padding-left: 70px;
    padding-right: 70px;
  }
}
